# Ignore bundler config.
/.bundle

# Ignore all environment files (except templates).
/.env*
!/.env*.erb

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
!/tmp/pids/
!/tmp/pids/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/.keep

# Ignore storage (uploaded files in development and temporary files in tests).
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/.keep

# Ignore master key for decrypting credentials and more.
/config/master.key
/config/credentials/*.key

# Node modules
/node_modules

# Yarn files
.yarn/
yarn-error.log

# macOS
.DS_Store

# Assets
/public/assets

# Bundled gems
vendor/bundle/
